/*!CSSInstaglam v{{ VERSION }}*/
.insta-blur {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-none {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-small {
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.insta-blur.insta-medium {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-large {
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.insta-blur.insta-mega {
  -moz-filter: blur(12px);
  -webkit-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}
.insta-blur.insta-hover {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-hover:hover {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-hover:hover.insta-none {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-hover:hover.insta-small {
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.insta-blur.insta-hover:hover.insta-medium {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-hover:hover.insta-large {
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.insta-blur.insta-hover:hover.insta-mega {
  -moz-filter: blur(12px);
  -webkit-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}
.insta-blur.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-blur.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-blur.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-blur.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-blur.insta-unhover:hover {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-brighten {
  -moz-filter: brightness(140%);
  -webkit-filter: brightness(140%);
  -o-filter: brightness(140%);
  -ms-filter: brightness(140%);
  filter: brightness(140%);
}
.insta-brighten.insta-none {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-brighten.insta-small {
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
  -o-filter: brightness(110%);
  -ms-filter: brightness(110%);
  filter: brightness(110%);
}
.insta-brighten.insta-medium {
  -moz-filter: brightness(140%);
  -webkit-filter: brightness(140%);
  -o-filter: brightness(140%);
  -ms-filter: brightness(140%);
  filter: brightness(140%);
}
.insta-brighten.insta-large {
  -moz-filter: brightness(180%);
  -webkit-filter: brightness(180%);
  -o-filter: brightness(180%);
  -ms-filter: brightness(180%);
  filter: brightness(180%);
}
.insta-brighten.insta-mega {
  -moz-filter: brightness(200%);
  -webkit-filter: brightness(200%);
  -o-filter: brightness(200%);
  -ms-filter: brightness(200%);
  filter: brightness(200%);
}
.insta-brighten.insta-hover {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-brighten.insta-hover:hover {
  -moz-filter: brightness(140%);
  -webkit-filter: brightness(140%);
  -o-filter: brightness(140%);
  -ms-filter: brightness(140%);
  filter: brightness(140%);
}
.insta-brighten.insta-hover:hover.insta-none {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-brighten.insta-hover:hover.insta-small {
  -moz-filter: brightness(110%);
  -webkit-filter: brightness(110%);
  -o-filter: brightness(110%);
  -ms-filter: brightness(110%);
  filter: brightness(110%);
}
.insta-brighten.insta-hover:hover.insta-medium {
  -moz-filter: brightness(140%);
  -webkit-filter: brightness(140%);
  -o-filter: brightness(140%);
  -ms-filter: brightness(140%);
  filter: brightness(140%);
}
.insta-brighten.insta-hover:hover.insta-large {
  -moz-filter: brightness(180%);
  -webkit-filter: brightness(180%);
  -o-filter: brightness(180%);
  -ms-filter: brightness(180%);
  filter: brightness(180%);
}
.insta-brighten.insta-hover:hover.insta-mega {
  -moz-filter: brightness(200%);
  -webkit-filter: brightness(200%);
  -o-filter: brightness(200%);
  -ms-filter: brightness(200%);
  filter: brightness(200%);
}
.insta-brighten.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-brighten.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-brighten.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-brighten.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-brighten.insta-unhover:hover {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-darken {
  -moz-filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}
.insta-darken.insta-none {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-darken.insta-small {
  -moz-filter: brightness(90%);
  -webkit-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
}
.insta-darken.insta-medium {
  -moz-filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}
.insta-darken.insta-large {
  -moz-filter: brightness(20%);
  -webkit-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);
}
.insta-darken.insta-mega {
  -moz-filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  filter: brightness(0%);
}
.insta-darken.insta-hover {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-darken.insta-hover:hover {
  -moz-filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}
.insta-darken.insta-hover:hover.insta-none {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-darken.insta-hover:hover.insta-small {
  -moz-filter: brightness(90%);
  -webkit-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
}
.insta-darken.insta-hover:hover.insta-medium {
  -moz-filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}
.insta-darken.insta-hover:hover.insta-large {
  -moz-filter: brightness(20%);
  -webkit-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);
}
.insta-darken.insta-hover:hover.insta-mega {
  -moz-filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -o-filter: brightness(0%);
  -ms-filter: brightness(0%);
  filter: brightness(0%);
}
.insta-darken.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-darken.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-darken.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-darken.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-darken.insta-unhover:hover {
  -moz-filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}
.insta-contrast {
  -moz-filter: contrast(140%);
  -webkit-filter: contrast(140%);
  -o-filter: contrast(140%);
  -ms-filter: contrast(140%);
  filter: contrast(140%);
}
.insta-contrast.insta-none {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-contrast.insta-small {
  -moz-filter: contrast(110%);
  -webkit-filter: contrast(110%);
  -o-filter: contrast(110%);
  -ms-filter: contrast(110%);
  filter: contrast(110%);
}
.insta-contrast.insta-medium {
  -moz-filter: contrast(140%);
  -webkit-filter: contrast(140%);
  -o-filter: contrast(140%);
  -ms-filter: contrast(140%);
  filter: contrast(140%);
}
.insta-contrast.insta-large {
  -moz-filter: contrast(180%);
  -webkit-filter: contrast(180%);
  -o-filter: contrast(180%);
  -ms-filter: contrast(180%);
  filter: contrast(180%);
}
.insta-contrast.insta-mega {
  -moz-filter: contrast(200%);
  -webkit-filter: contrast(200%);
  -o-filter: contrast(200%);
  -ms-filter: contrast(200%);
  filter: contrast(200%);
}
.insta-contrast.insta-hover {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-contrast.insta-hover:hover {
  -moz-filter: contrast(140%);
  -webkit-filter: contrast(140%);
  -o-filter: contrast(140%);
  -ms-filter: contrast(140%);
  filter: contrast(140%);
}
.insta-contrast.insta-hover:hover.insta-none {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-contrast.insta-hover:hover.insta-small {
  -moz-filter: contrast(110%);
  -webkit-filter: contrast(110%);
  -o-filter: contrast(110%);
  -ms-filter: contrast(110%);
  filter: contrast(110%);
}
.insta-contrast.insta-hover:hover.insta-medium {
  -moz-filter: contrast(140%);
  -webkit-filter: contrast(140%);
  -o-filter: contrast(140%);
  -ms-filter: contrast(140%);
  filter: contrast(140%);
}
.insta-contrast.insta-hover:hover.insta-large {
  -moz-filter: contrast(180%);
  -webkit-filter: contrast(180%);
  -o-filter: contrast(180%);
  -ms-filter: contrast(180%);
  filter: contrast(180%);
}
.insta-contrast.insta-hover:hover.insta-mega {
  -moz-filter: contrast(200%);
  -webkit-filter: contrast(200%);
  -o-filter: contrast(200%);
  -ms-filter: contrast(200%);
  filter: contrast(200%);
}
.insta-contrast.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-contrast.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-contrast.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-contrast.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-contrast.insta-unhover:hover {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-decontrast {
  -moz-filter: contrast(60%);
  -webkit-filter: contrast(60%);
  -o-filter: contrast(60%);
  -ms-filter: contrast(60%);
  filter: contrast(60%);
}
.insta-decontrast.insta-none {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-decontrast.insta-small {
  -moz-filter: contrast(90%);
  -webkit-filter: contrast(90%);
  -o-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
}
.insta-decontrast.insta-medium {
  -moz-filter: contrast(60%);
  -webkit-filter: contrast(60%);
  -o-filter: contrast(60%);
  -ms-filter: contrast(60%);
  filter: contrast(60%);
}
.insta-decontrast.insta-large {
  -moz-filter: contrast(20%);
  -webkit-filter: contrast(20%);
  -o-filter: contrast(20%);
  -ms-filter: contrast(20%);
  filter: contrast(20%);
}
.insta-decontrast.insta-mega {
  -moz-filter: contrast(0%);
  -webkit-filter: contrast(0%);
  -o-filter: contrast(0%);
  -ms-filter: contrast(0%);
  filter: contrast(0%);
}
.insta-decontrast.insta-hover {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-decontrast.insta-hover:hover {
  -moz-filter: contrast(60%);
  -webkit-filter: contrast(60%);
  -o-filter: contrast(60%);
  -ms-filter: contrast(60%);
  filter: contrast(60%);
}
.insta-decontrast.insta-hover:hover.insta-none {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-decontrast.insta-hover:hover.insta-small {
  -moz-filter: contrast(90%);
  -webkit-filter: contrast(90%);
  -o-filter: contrast(90%);
  -ms-filter: contrast(90%);
  filter: contrast(90%);
}
.insta-decontrast.insta-hover:hover.insta-medium {
  -moz-filter: contrast(60%);
  -webkit-filter: contrast(60%);
  -o-filter: contrast(60%);
  -ms-filter: contrast(60%);
  filter: contrast(60%);
}
.insta-decontrast.insta-hover:hover.insta-large {
  -moz-filter: contrast(20%);
  -webkit-filter: contrast(20%);
  -o-filter: contrast(20%);
  -ms-filter: contrast(20%);
  filter: contrast(20%);
}
.insta-decontrast.insta-hover:hover.insta-mega {
  -moz-filter: contrast(0%);
  -webkit-filter: contrast(0%);
  -o-filter: contrast(0%);
  -ms-filter: contrast(0%);
  filter: contrast(0%);
}
.insta-decontrast.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-decontrast.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-decontrast.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-decontrast.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-decontrast.insta-unhover:hover {
  -moz-filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
  filter: contrast(100%);
}
.insta-grayscale {
  -moz-filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);
}
.insta-grayscale.insta-none {
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.insta-grayscale.insta-small {
  -moz-filter: grayscale(10%);
  -webkit-filter: grayscale(10%);
  -o-filter: grayscale(10%);
  -ms-filter: grayscale(10%);
  filter: grayscale(10%);
}
.insta-grayscale.insta-medium {
  -moz-filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);
}
.insta-grayscale.insta-large {
  -moz-filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  filter: grayscale(80%);
}
.insta-grayscale.insta-mega {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.insta-grayscale.insta-hover {
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.insta-grayscale.insta-hover:hover {
  -moz-filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);
}
.insta-grayscale.insta-hover:hover.insta-none {
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.insta-grayscale.insta-hover:hover.insta-small {
  -moz-filter: grayscale(10%);
  -webkit-filter: grayscale(10%);
  -o-filter: grayscale(10%);
  -ms-filter: grayscale(10%);
  filter: grayscale(10%);
}
.insta-grayscale.insta-hover:hover.insta-medium {
  -moz-filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);
}
.insta-grayscale.insta-hover:hover.insta-large {
  -moz-filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  filter: grayscale(80%);
}
.insta-grayscale.insta-hover:hover.insta-mega {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.insta-grayscale.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-grayscale.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-grayscale.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-grayscale.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-grayscale.insta-unhover:hover {
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.insta-invert {
  -moz-filter: invert(40%);
  -webkit-filter: invert(40%);
  -o-filter: invert(40%);
  -ms-filter: invert(40%);
  filter: invert(40%);
}
.insta-invert.insta-none {
  -moz-filter: invert(0);
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);
  filter: invert(0);
}
.insta-invert.insta-small {
  -moz-filter: invert(10%);
  -webkit-filter: invert(10%);
  -o-filter: invert(10%);
  -ms-filter: invert(10%);
  filter: invert(10%);
}
.insta-invert.insta-medium {
  -moz-filter: invert(40%);
  -webkit-filter: invert(40%);
  -o-filter: invert(40%);
  -ms-filter: invert(40%);
  filter: invert(40%);
}
.insta-invert.insta-large {
  -moz-filter: invert(80%);
  -webkit-filter: invert(80%);
  -o-filter: invert(80%);
  -ms-filter: invert(80%);
  filter: invert(80%);
}
.insta-invert.insta-mega {
  -moz-filter: invert(100%);
  -webkit-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}
.insta-invert.insta-hover {
  -moz-filter: invert(0);
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);
  filter: invert(0);
}
.insta-invert.insta-hover:hover {
  -moz-filter: invert(40%);
  -webkit-filter: invert(40%);
  -o-filter: invert(40%);
  -ms-filter: invert(40%);
  filter: invert(40%);
}
.insta-invert.insta-hover:hover.insta-none {
  -moz-filter: invert(0);
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);
  filter: invert(0);
}
.insta-invert.insta-hover:hover.insta-small {
  -moz-filter: invert(10%);
  -webkit-filter: invert(10%);
  -o-filter: invert(10%);
  -ms-filter: invert(10%);
  filter: invert(10%);
}
.insta-invert.insta-hover:hover.insta-medium {
  -moz-filter: invert(40%);
  -webkit-filter: invert(40%);
  -o-filter: invert(40%);
  -ms-filter: invert(40%);
  filter: invert(40%);
}
.insta-invert.insta-hover:hover.insta-large {
  -moz-filter: invert(80%);
  -webkit-filter: invert(80%);
  -o-filter: invert(80%);
  -ms-filter: invert(80%);
  filter: invert(80%);
}
.insta-invert.insta-hover:hover.insta-mega {
  -moz-filter: invert(100%);
  -webkit-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}
.insta-invert.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-invert.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-invert.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-invert.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-invert.insta-unhover:hover {
  -moz-filter: invert(0);
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);
  filter: invert(0);
}
.insta-opacity {
  -moz-filter: opacity(60%);
  -webkit-filter: opacity(60%);
  -o-filter: opacity(60%);
  -ms-filter: opacity(60%);
  filter: opacity(60%);
}
.insta-opacity.insta-none {
  -moz-filter: opacity(100%);
  -webkit-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
  filter: opacity(100%);
}
.insta-opacity.insta-small {
  -moz-filter: opacity(90%);
  -webkit-filter: opacity(90%);
  -o-filter: opacity(90%);
  -ms-filter: opacity(90%);
  filter: opacity(90%);
}
.insta-opacity.insta-medium {
  -moz-filter: opacity(60%);
  -webkit-filter: opacity(60%);
  -o-filter: opacity(60%);
  -ms-filter: opacity(60%);
  filter: opacity(60%);
}
.insta-opacity.insta-large {
  -moz-filter: opacity(20%);
  -webkit-filter: opacity(20%);
  -o-filter: opacity(20%);
  -ms-filter: opacity(20%);
  filter: opacity(20%);
}
.insta-opacity.insta-mega {
  -moz-filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -o-filter: opacity(0%);
  -ms-filter: opacity(0%);
  filter: opacity(0%);
}
.insta-opacity.insta-hover {
  -moz-filter: opacity(100%);
  -webkit-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
  filter: opacity(100%);
}
.insta-opacity.insta-hover:hover {
  -moz-filter: opacity(60%);
  -webkit-filter: opacity(60%);
  -o-filter: opacity(60%);
  -ms-filter: opacity(60%);
  filter: opacity(60%);
}
.insta-opacity.insta-hover:hover.insta-none {
  -moz-filter: opacity(100%);
  -webkit-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
  filter: opacity(100%);
}
.insta-opacity.insta-hover:hover.insta-small {
  -moz-filter: opacity(90%);
  -webkit-filter: opacity(90%);
  -o-filter: opacity(90%);
  -ms-filter: opacity(90%);
  filter: opacity(90%);
}
.insta-opacity.insta-hover:hover.insta-medium {
  -moz-filter: opacity(60%);
  -webkit-filter: opacity(60%);
  -o-filter: opacity(60%);
  -ms-filter: opacity(60%);
  filter: opacity(60%);
}
.insta-opacity.insta-hover:hover.insta-large {
  -moz-filter: opacity(20%);
  -webkit-filter: opacity(20%);
  -o-filter: opacity(20%);
  -ms-filter: opacity(20%);
  filter: opacity(20%);
}
.insta-opacity.insta-hover:hover.insta-mega {
  -moz-filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -o-filter: opacity(0%);
  -ms-filter: opacity(0%);
  filter: opacity(0%);
}
.insta-opacity.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-opacity.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-opacity.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-opacity.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-opacity.insta-unhover:hover {
  -moz-filter: opacity(100%);
  -webkit-filter: opacity(100%);
  -o-filter: opacity(100%);
  -ms-filter: opacity(100%);
  filter: opacity(100%);
}
.insta-saturate {
  -moz-filter: saturate(140%);
  -webkit-filter: saturate(140%);
  -o-filter: saturate(140%);
  -ms-filter: saturate(140%);
  filter: saturate(140%);
}
.insta-saturate.insta-none {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-saturate.insta-small {
  -moz-filter: saturate(110%);
  -webkit-filter: saturate(110%);
  -o-filter: saturate(110%);
  -ms-filter: saturate(110%);
  filter: saturate(110%);
}
.insta-saturate.insta-medium {
  -moz-filter: saturate(140%);
  -webkit-filter: saturate(140%);
  -o-filter: saturate(140%);
  -ms-filter: saturate(140%);
  filter: saturate(140%);
}
.insta-saturate.insta-large {
  -moz-filter: saturate(180%);
  -webkit-filter: saturate(180%);
  -o-filter: saturate(180%);
  -ms-filter: saturate(180%);
  filter: saturate(180%);
}
.insta-saturate.insta-mega {
  -moz-filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
  filter: saturate(200%);
}
.insta-saturate.insta-hover {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-saturate.insta-hover:hover {
  -moz-filter: saturate(140%);
  -webkit-filter: saturate(140%);
  -o-filter: saturate(140%);
  -ms-filter: saturate(140%);
  filter: saturate(140%);
}
.insta-saturate.insta-hover:hover.insta-none {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-saturate.insta-hover:hover.insta-small {
  -moz-filter: saturate(110%);
  -webkit-filter: saturate(110%);
  -o-filter: saturate(110%);
  -ms-filter: saturate(110%);
  filter: saturate(110%);
}
.insta-saturate.insta-hover:hover.insta-medium {
  -moz-filter: saturate(140%);
  -webkit-filter: saturate(140%);
  -o-filter: saturate(140%);
  -ms-filter: saturate(140%);
  filter: saturate(140%);
}
.insta-saturate.insta-hover:hover.insta-large {
  -moz-filter: saturate(180%);
  -webkit-filter: saturate(180%);
  -o-filter: saturate(180%);
  -ms-filter: saturate(180%);
  filter: saturate(180%);
}
.insta-saturate.insta-hover:hover.insta-mega {
  -moz-filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
  filter: saturate(200%);
}
.insta-saturate.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-saturate.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-saturate.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-saturate.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-saturate.insta-unhover:hover {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-desaturate {
  -moz-filter: saturate(60%);
  -webkit-filter: saturate(60%);
  -o-filter: saturate(60%);
  -ms-filter: saturate(60%);
  filter: saturate(60%);
}
.insta-desaturate.insta-none {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-desaturate.insta-small {
  -moz-filter: saturate(90%);
  -webkit-filter: saturate(90%);
  -o-filter: saturate(90%);
  -ms-filter: saturate(90%);
  filter: saturate(90%);
}
.insta-desaturate.insta-medium {
  -moz-filter: saturate(60%);
  -webkit-filter: saturate(60%);
  -o-filter: saturate(60%);
  -ms-filter: saturate(60%);
  filter: saturate(60%);
}
.insta-desaturate.insta-large {
  -moz-filter: saturate(20%);
  -webkit-filter: saturate(20%);
  -o-filter: saturate(20%);
  -ms-filter: saturate(20%);
  filter: saturate(20%);
}
.insta-desaturate.insta-mega {
  -moz-filter: saturate(0%);
  -webkit-filter: saturate(0%);
  -o-filter: saturate(0%);
  -ms-filter: saturate(0%);
  filter: saturate(0%);
}
.insta-desaturate.insta-hover {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-desaturate.insta-hover:hover {
  -moz-filter: saturate(60%);
  -webkit-filter: saturate(60%);
  -o-filter: saturate(60%);
  -ms-filter: saturate(60%);
  filter: saturate(60%);
}
.insta-desaturate.insta-hover:hover.insta-none {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-desaturate.insta-hover:hover.insta-small {
  -moz-filter: saturate(90%);
  -webkit-filter: saturate(90%);
  -o-filter: saturate(90%);
  -ms-filter: saturate(90%);
  filter: saturate(90%);
}
.insta-desaturate.insta-hover:hover.insta-medium {
  -moz-filter: saturate(60%);
  -webkit-filter: saturate(60%);
  -o-filter: saturate(60%);
  -ms-filter: saturate(60%);
  filter: saturate(60%);
}
.insta-desaturate.insta-hover:hover.insta-large {
  -moz-filter: saturate(20%);
  -webkit-filter: saturate(20%);
  -o-filter: saturate(20%);
  -ms-filter: saturate(20%);
  filter: saturate(20%);
}
.insta-desaturate.insta-hover:hover.insta-mega {
  -moz-filter: saturate(0%);
  -webkit-filter: saturate(0%);
  -o-filter: saturate(0%);
  -ms-filter: saturate(0%);
  filter: saturate(0%);
}
.insta-desaturate.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-desaturate.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-desaturate.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-desaturate.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-desaturate.insta-unhover:hover {
  -moz-filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
  filter: saturate(100%);
}
.insta-sepia {
  -moz-filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -o-filter: sepia(40%);
  -ms-filter: sepia(40%);
  filter: sepia(40%);
}
.insta-sepia.insta-none {
  -moz-filter: sepia(0);
  -webkit-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  filter: sepia(0);
}
.insta-sepia.insta-small {
  -moz-filter: sepia(10%);
  -webkit-filter: sepia(10%);
  -o-filter: sepia(10%);
  -ms-filter: sepia(10%);
  filter: sepia(10%);
}
.insta-sepia.insta-medium {
  -moz-filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -o-filter: sepia(40%);
  -ms-filter: sepia(40%);
  filter: sepia(40%);
}
.insta-sepia.insta-large {
  -moz-filter: sepia(80%);
  -webkit-filter: sepia(80%);
  -o-filter: sepia(80%);
  -ms-filter: sepia(80%);
  filter: sepia(80%);
}
.insta-sepia.insta-mega {
  -moz-filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}
.insta-sepia.insta-hover {
  -moz-filter: sepia(0);
  -webkit-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  filter: sepia(0);
}
.insta-sepia.insta-hover:hover {
  -moz-filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -o-filter: sepia(40%);
  -ms-filter: sepia(40%);
  filter: sepia(40%);
}
.insta-sepia.insta-hover:hover.insta-none {
  -moz-filter: sepia(0);
  -webkit-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  filter: sepia(0);
}
.insta-sepia.insta-hover:hover.insta-small {
  -moz-filter: sepia(10%);
  -webkit-filter: sepia(10%);
  -o-filter: sepia(10%);
  -ms-filter: sepia(10%);
  filter: sepia(10%);
}
.insta-sepia.insta-hover:hover.insta-medium {
  -moz-filter: sepia(40%);
  -webkit-filter: sepia(40%);
  -o-filter: sepia(40%);
  -ms-filter: sepia(40%);
  filter: sepia(40%);
}
.insta-sepia.insta-hover:hover.insta-large {
  -moz-filter: sepia(80%);
  -webkit-filter: sepia(80%);
  -o-filter: sepia(80%);
  -ms-filter: sepia(80%);
  filter: sepia(80%);
}
.insta-sepia.insta-hover:hover.insta-mega {
  -moz-filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}
.insta-sepia.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-sepia.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-sepia.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-sepia.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
.insta-sepia.insta-unhover:hover {
  -moz-filter: sepia(0);
  -webkit-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  filter: sepia(0);
}
