.insta-blur {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-none {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-small {
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.insta-blur.insta-medium {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-large {
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.insta-blur.insta-mega {
  -moz-filter: blur(12px);
  -webkit-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}
.insta-blur.insta-hover {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-hover:hover {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-hover:hover.insta-none {
  -moz-filter: blur(0);
  -webkit-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.insta-blur.insta-hover:hover.insta-small {
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.insta-blur.insta-hover:hover.insta-medium {
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.insta-blur.insta-hover:hover.insta-large {
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}
.insta-blur.insta-hover:hover.insta-mega {
  -moz-filter: blur(12px);
  -webkit-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}
.insta-blur.insta-reallyfast {
  -moz-transition: -moz-filter 0.5s, filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s, filter 0.5s;
  -o-transition: -o-filter 0.5s, filter 0.5s;
  -ms-transition: -ms-filter 0.5s, filter 0.5s;
  transition: filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, -ms-filter 0.5s, -webkit-filter 0.5s;
}
.insta-blur.insta-fast {
  -moz-transition: -moz-filter 1s, filter 1s;
  -webkit-transition: -webkit-filter 1s, filter 1s;
  -o-transition: -o-filter 1s, filter 1s;
  -ms-transition: -ms-filter 1s, filter 1s;
  transition: filter 1s, -moz-filter 1s, -o-filter 1s, -ms-filter 1s, -webkit-filter 1s;
}
.insta-blur.insta-slow {
  -moz-transition: -moz-filter 2.5s, filter 2.5s;
  -webkit-transition: -webkit-filter 2.5s, filter 2.5s;
  -o-transition: -o-filter 2.5s, filter 2.5s;
  -ms-transition: -ms-filter 2.5s, filter 2.5s;
  transition: filter 2.5s, -moz-filter 2.5s, -o-filter 2.5s, -ms-filter 2.5s, -webkit-filter 2.5s;
}
.insta-blur.insta-lazy {
  -moz-transition: -moz-filter 4s, filter 4s;
  -webkit-transition: -webkit-filter 4s, filter 4s;
  -o-transition: -o-filter 4s, filter 4s;
  -ms-transition: -ms-filter 4s, filter 4s;
  transition: filter 4s, -moz-filter 4s, -o-filter 4s, -ms-filter 4s, -webkit-filter 4s;
}
